<%- model_class = Lore -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<div id='lores-table'></div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_lore_path,
            :class => 'btn btn-primary' %>
